{% extends "dashboard/base.html" %}

{% block breadcrumb_item %}
<li>List Mapping Teacher</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <div class="col-md-6">
          {% if user.status == "ADMIN" %}
          <a href="{% url 'mapping_teacher_create' %}" class="btn btn-primary">Tambah Mapping Teacher</a>
          {% endif %}
        </div>
        <div class="col-md-4">
          <form action="#" method="GET">
            <div class="input-group">
              <input type="text" name="q" class="form-control input-search" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-2">
          <a href="{% url 'mapping_teacher_list' %}" class="btn btn-danger btn-rounded">Reset Pencarian</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>Teacher</th>
              <th>Course</th>
              <th style="width: 15%;">Action</th>
            </thead>
            <tbody>
              {% for list in mapping_teacher_list %}
              <tr>
                <td>{{list.teacher.teacher_name}}</td>
                <td>{{list.course.course_code}}</td>
                <td>
                  <a class='btn btn-success btn-sm' title='Detail' href="{% url 'mapping_teacher_detail' list.id %}">
                    <i class="fa fa-eye"></i>
                  </a>
                    <a class='btn btn-primary btn-sm' title='Edit' href="{% url 'mapping_teacher_update' list.id %}">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" title="Delete" href="{% url 'mapping_teacher_delete' list.id %}">
                      <i class="fa fa-trash"></i>
                    </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" align="center" style="color: red;">No data</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          {% include 'snippets/_pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
