{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li><a href="{% url 'subscription_list' %}">List Subscription</a></li>
<li>Detail Subscription</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Kode Course</td>
              <td>:</td>
              <td>{{subscription.course.course_code}}</td>
            </tr>
            <tr>
              <td>User</td>
              <td>:</td>
              <td>{{subscription.user}}</td>
            </tr>
            <tr>
              <td>Telepon User</td>
              <td>:</td>
              <td>{{subscription.user.phone}}</td>
            </tr>
          </table>
          <a class="btn btn-danger" href="{{request.META.HTTP_REFERER}}"><i class="fa fa-reply"></i> Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
