{% load static %}
<script src="{% static 'dashboard/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pace-master/pace.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>
<script src="{% static 'dashboard/plugins/offcanvasmenueffects/js/classie.js' %}"></script>
<script src="{% static 'dashboard/plugins/waves/waves.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/3d-bold-navigation/js/main.js' %}"></script>
<!-- <script src="{% static 'dashboard/plugins/waypoints/jquery.waypoints.min.js' %}"></script> -->
<script src="{% static 'dashboard/plugins/summernote-master/summernote.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<!-- <script src="{% static 'dashboard/plugins/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/flot/jquery.flot.time.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/flot/jquery.flot.symbol.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/flot/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'dashboard/plugins/chartjs/Chart.bundle.min.js' %}"></script> -->
<script src="{% static 'dashboard/js/meteor.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'dashboard/js/pages/form-elements.js' %}"></script>
<script src="{% static 'dashboard/js/pages/form-select2.js' %}"></script>

<script src="{% static 'dashboard/plugins/toastr/toastr.min.js' %}"></script>

<script src="{% static 'dashboard/js/pages/table-data.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables/js/jquery.datatables.min.js' %}"></script>