{% load static %}
<link href="{% static 'dashboard/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet" />
<link href="{% static 'dashboard/plugins/uniform/css/default.css' %}" rel="stylesheet" />
<link href="{% static 'dashboard/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dashboard/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/plugins/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dashboard/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'dashboard/plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>	
<link href="{% static 'dashboard/plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>	

<link href="{% static 'dashboard/plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>

<!-- Theme Styles -->
<link href="{% static 'dashboard/css/meteor.css' %}" rel="stylesheet" type="text/css" />
<!-- <link href="{% static 'dashboard/css/layers/dark-layer.css' %}" class="theme-color" rel="stylesheet" type="text/css" /> -->
<link href="{% static 'dashboard/css/layers/material-layer.css' %}" class="theme-color" rel="stylesheet" type="text/css" />

<!-- custom -->
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet" type="text/css" />

<!-- query -->
<link href="{% static 'dashboard/css/query.css' %}" rel="stylesheet" type="text/css" />