{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li> <a href="{% url 'pengumuman_list'  %}">List Pengumuman</a></li>
<li>Detail Pengumuman</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" %}
      <!-- page untuk admin -->
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Judul Pengumuman</td>
              <td>:</td>
              <td>{{pengumuman.judul}}</td>
            </tr>
            <tr>
              <td>Deskripsi Singkat</td>
              <td>:</td>
              <td>{{pengumuman.deskripsi_singkat}}</td>
            </tr>
            {% if pengumuman.image %}
            <tr>
              <td>Image</td>
              <td>:</td>
              <td>
                <img src="{{pengumuman.image.url}}" alt="" width="auto" height="100">
                <br><a href="{{pengumuman.image.url}}">{{pengumuman.image.url}}</a>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td>Konten</td>
              <td>:</td>
              <td>{{pengumuman.konten|safe}}</td>
            </tr>
            <tr>
              <td>Visibility</td>
              <td>:</td>
              <td>{{pengumuman.visibility}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <a type="button" class="btn btn-danger" href="{% url 'pengumuman_list' %}"><i class="fa fa-reply"></i> Back</a>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
