{% extends "dashboard/base.html" %}

{% block breadcrumb_item %}
<li><a href="{% url 'kelompok_ujian_list' %}">List Kelompok Ujian</a></li>
<li><a href="{% url 'ujian_list' ujian.kelompok_ujian.slug %}">List Ujian</a></li>
<li>Delete Ujian</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" or user.status == "MANAGER" %}
      <!-- page untuk admin -->
      <div class="panel-heading">
        <h4 class="panel-title">Delete Confirmation</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td style="width: 15%;">Kelompok Ujian</td>
              <td>:</td>
              <td>{{ujian.kelompok_ujian}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Urutan Ujian</td>
              <td>:</td>
              <td>{{ujian.urutan_ujian}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Kode Ujian</td>
              <td>:</td>
              <td> {{ujian.kode}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Nama Ujian</td>
              <td>:</td>
              <td> {{ujian.nama}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Durasi Minute</td>
              <td>:</td>
              <td>{{ujian.durasi_minute}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Waktu Mulai</td>
              <td>:</td>
              <td>{{ujian.waktu_mulai|date:'Y-m-d H:i'}}</td>
            </tr>
            <tr>
              <td style="width: 15%;">Waktu Selesai</td>
              <td>:</td>
              <td>{{ujian.waktu_selesai|date:'Y-m-d H:i'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary"> Ok</button>
          <a type="button" class="btn btn-danger" href="{% url 'ujian_list' ujian.kelompok_ujian.slug %}">
            <i class="fa fa-reply"></i> Back</a>
        </form>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin atau manager sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}