{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li> <a href="{% url 'speaking_list'  %}">List Speaking Submission</a></li>
<li>Detail Speaking Submission</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Submitted by</td>
              <td>:</td>
              <td>{{speakingsubmission.user.email}}</td>
            </tr>
            <tr>
              <td>Course Code</td>
              <td>:</td>
              <td>{{speakingsubmission.course_code}}</td>
            </tr>
            {% if speakingsubmission.file %}
            <tr>
              <td>File</td>
              <td>:</td>
              <td>
                {% if speakingsubmission.type == "Sound Submission (mp3/ogg)" %}
                <audio autoplay controls>
                  <source src="{{ speakingsubmission.file.url}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                {% else%}
                <a href="{{speakingsubmission.file.url}}" target="_blank">{{speakingsubmission.file}}</a>
                <br>
                <iframe src="{{speakingsubmission.file.url}}" frameborder="0" width="100%" height="500"></iframe>
                {% endif %}
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>

      {% if is_grade_available %}
      <hr>
      <div class="panel-heading">
        <h4 class="panel-title">Hasil Penilaian</h4>
      </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr><td><b>Nilai:</b> {{grade.nilai}}</td></tr>
              <tr><td><b>Catatan: </b><br> {{grade.komen | safe}}</td></tr>
            </table>
            <a type="button" class="btn btn-success" href="{% url 'grade_update' grade.id %}"><i class="fa fa-edit"></i> Edit Nilai</a>
          </div>
        </div>
      {% endif %}
      <div class="panel-body">
        <!-- {{request.META.HTTP_REFERER}} -->
        <a type="button" class="btn btn-danger" href="{% url 'speaking_list' %}"><i class="fa fa-reply"></i> Back</a>
        <!-- <a type="button" class="btn btn-danger" href="{{request.META.HTTP_REFERER}}"><i class="fa fa-reply"></i> Back</a> -->
        {% if is_grade_available == False %}
          {% if user.status == "ADMIN" or user.status == 'MANAGER'%}
          <a href="{% url 'grade_create' speakingsubmission.id %}" class="btn btn-primary"> Grading Assignment</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
