{% extends 'registration/base_regist.html' %}
{% load static %}

{% block content %}
<body class="page-login">
	<main class="page-content" style="background-image: url({% static 'dashboard/images/login-bg.png' %}); background-size: cover;">
		<div class="page-inner">
			<div id="main-wrapper">
				<div class="row">
					<div class="col-md-3 center">
						<div class="panel panel-white" id="js-alerts">
							<div class="panel-body">
								<div class="login-box">
									<a href="" class="logo-name text-lg text-center m-t-xs">METEOR</a>
                  <p class="text-center m-t-md">Please login into your account.</p>
									<form class="login100-form validate-form" method="POST" action="{% url 'login_user' %}">
										{% csrf_token %}
										{% if form.errors %}
										<div class="alert alert-danger">Your Email Address and Password didn't match.Please try again!</div>
										{% endif %}

										<div class="form-group">
											<input type="email" class="form-control" name="{{form.username.name}}"
												placeholder="{{form.username.label}}" required>
										</div>
										<div class="form-group">
											<input type="password" name="password" class="password form-control" name="{{form.password.name}}"
												placeholder="{{form.password.label}}" required>
										</div>
										<!-- untuk redirect ke page beradarkan copy paste url -->
										{% if request.GET.next %}
											<input type="hidden" name="next" id="" value="{{request.GET.next}}">
										{% endif %}
										<button type="submit" class="btn btn-success btn-block">Login</button>
										
										{% comment %}
											<!-- <a href="forgot.html" class="display-block text-center m-t-md text-sm">Forgot Password?</a>
                                            <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                                            <a href="register.html" class="btn btn-default btn-block m-t-md">Create an account</a> -->
										{% endcomment %}
											
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Row -->
			</div><!-- Main Wrapper -->
		</div><!-- Page Inner -->
	</main><!-- Page Content -->


	{% include 'snippets/script.html' %}
</body>

{% endblock content %}
