
{% extends "dashboard/base.html" %}
{% load static %}
{% block breadcrumb_item %}
  <li>Change Password Done</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading">
        <!-- <h4 class="panel-title">Change password</h4> -->
      </div>
      <div class="panel-body">
		<h1 class="h3 mb-3 font-weight-normal">Your password has been Updated.</h1>
		<p class="m-auto">Silahkan login kembali.</p>
		</div>
	</div>
</div>
</div>

{% endblock content %}