{% extends "registration/base_reset.html" %}
{% load static %}

{% block content_reset %}
<div class="col-md-3 center">
  <div class="panel panel-white" id="js-alerts">
    <div class="panel-body">
      <div class="login-box text-center">
        <!-- <img src="{% static 'logo/cheria-logo.png' %}" alt="" style="width: 100%; height: 40%;"> -->
        <p class="text-center m-t-md">Enter your email address below to reset your password</p>
        <form method="post">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <div class="form-group">
            <input type="email" name="{{form.email.name}}" class="form-control" placeholder="{{form.email.label}}"
              required>
          </div>
          <button type="submit" class="btn btn-success btn-block">Reset password</button>
          <a href="{% url 'login_user' %}" class="btn btn-default btn-block">Back</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content_reset %}