{% extends "registration/base_reset.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content_reset %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3 {
    text-align: center;
  }
</style>

<div class="col-md-4 center">
  <div class="panel panel-white" id="js-alerts">
    <div class="panel-body">
      <div class="login-box">

        {% if validlink %}
        <!-- 
        <img src="{% static 'website/image/logo-royal.png' %}" alt="" style="width: 40%; height: 40%;"> -->
        <!-- <p class="m-t-md" style="text-align: center;">Reset password</p> -->
        <form method="post" class="form-signin">
          {% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
          <!-- {{ form|crispy }} -->

          <input name="new_password1" class="form-control" placeholder="New password" type="password"
            id="id_new_password1" required="true">
          <input name="new_password2" class="form-control" placeholder="New password confirmation" type="password"
            id="id_new_password2" required="true">

            {% for field in form %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% endfor %}

          <button class="btn btn-lg btn-success btn-block" type="submit">Reset</button>
        </form>
        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content_reset %}