{% extends "dashboard/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      
      <!-- {% if langganan == "Silahkan subscribe course untuk melanjutkan quiz" %}
      <div class="panel-body">
        <strong>Anda tidak diijinkan untuk memulai kuis ini karena kode kuis "{{kode_kelompok_ujian}}" ini terdapat didalam course yang belum anda subscribe. {{langganan}} !</strong>
      </div>
      {% else %} -->
      <div class="panel-body">
        <h3 class="text-center">DETAIL UJIAN </h3>
        <br>
        <div class="table-responsive">
          <table class="table table-border">
            <tr>
              <td style="width: 150px">Kode Ujian</td>
              <td style="width: 20px">:</td>
              <td> {{ujian.kode}}</td>
            </tr>
            <tr>
              <td>Nama Ujian</td>
              <td>:</td>
              <td>{{ujian.nama}}</td>
            </tr>
            <tr>
              <td>Durasi</td>
              <td>:</td>
              <td>{{ujian.durasi_minute}} menit</td>
            </tr>
            <tr>
              <td>Valid Period</td>
              <td>:</td>
              <td>
                <button class="btn btn-info btn-rounded" disabled>{{ujian.waktu_mulai|date:'Y-m-d'}} - {{ujian.waktu_selesai|date:'Y-m-d'}}</button>
              </td>
            </tr>
          </table>

          <form action="{% url 'start' %}" method='post'>
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="kode_ujian" value={{ujian.kode}}>
            </div>
            <div class="form-group">
              <input type="hidden" name="kode_kelompok_ujian" value={{ujian.kelompok_ujian.kode_kelompok}}>
            </div>
            <div class="form-group">
              <input type="hidden" name="nomor_soal" value=0>
            </div>
            {% if mulaiujian == "benar" %}
            <button type="submit" class="btn btn-primary">Mulai</button>
            {% else %}
            <button type="submit" class="btn btn-block btn-default " disabled>Anda tidak bisa memulai ujian ini karena periode tidak valid</button>
            {% endif %}
          </form>
        </div>
      </div>
      <!-- {% endif %} -->
        
    </div>
  </div>
</div>
{% endblock content %}
