{% extends 'dashboard/base.html' %}

{% block breadcrumb_item %}
<li>  <a href="{% url 'voucher_potongan_harga_list'  %}">List Voucher</a></li>
<li>Delete Voucher</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" %}
      <!-- page untuk admin -->
      <div class="panel-heading">
        <h4 class="panel-title">Delete Confirmation</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Kode Voucher</td>
              <td>:</td>
              <td>{{voucherpotonganharga.kode}}</td>
            </tr>
            <tr>
              <td>Nama Voucher</td>
              <td>:</td>
              <td>{{voucherpotonganharga.nama}}</td>
            </tr>
            <tr>
              <td>Is Valid</td>
              <td>:</td>
              <td>
              {% if voucherpotonganharga.is_valid == True %}
                <button class="btn btn-success btn-rounded" disabled>{{voucherpotonganharga.is_valid}}</button>
                {% else %}
                <button class="btn btn-danger btn-rounded" disabled>{{voucherpotonganharga.is_valid}}</button>
              {% endif %}
                </td>
            </tr>
            <tr>
              <td>Course</td>
              <td>:</td>
              <td>{{voucherpotonganharga.course.course_code}}</td>
            </tr>
            <tr>
              <td>Discount (%)</td>
              <td>:</td>
              <td>{{voucherpotonganharga.potongan_harga}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary"> Ok</button>
          <a type="button" class="btn btn-danger" href="{% url 'voucher_potongan_harga_list' %}"><i class="fa fa-reply"></i> Back</a>
        </form>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}