{% extends "dashboard/base.html" %}
{% load humanize %}

{% block breadcrumb_item %}
<li>  <a href="{% url 'pembayaran_komisi_list' %}">List Pembayaran Komisi</a></li>
<li>Delete Pembayaran Komisi</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" %}
      <!-- page untuk admin -->
      <div class="panel-heading">
        <h4 class="panel-title">Delete Confirmation</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>ID Marketing Squad</td>
              <td>:</td>
              <td> {{pembayarankomisi.marketing_squard.id_marketing_squard}}</td>
            </tr>
            <tr>
              <td>Jumlah Bayar</td>
              <td>:</td>
              <td>Rp {{pembayarankomisi.jumlah_bayar}}</td>
            </tr>
            
            {% if pembayarankomisi.lampiran %}
            <tr>
              <td>Lampiran</td>
              <td>:</td>
              <td>
                <img src="{{pembayarankomisi.lampiran.url}}" alt="">
              </td>
            </tr>
            {% endif %}
              
          </table>
        </div>
      </div>
      <div class="panel-body">
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary"> Ok</button>
          <a type="button" class="btn btn-danger" href="{% url 'pembayaran_komisi_list' %}"><i class="fa fa-reply"></i>
            Back</a>
        </form>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}