{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li> <a href="{% url 'course_list'  %}">List Course</a></li>
<li>Detail Course</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" or user.status == "MANAGER" %}
      <!-- page untuk admin -->
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Course Code</td>
              <td>:</td>
              <td>{{course.course_code}}</td>
            </tr>
            <tr>
              <td>Judul Course</td>
              <td>:</td>
              <td>{{course.judul}}</td>
            </tr>
            <tr>
              <td>Deskripsi Singkat</td>
              <td>:</td>
              <td>{{course.deskripsi_singkat}}</td>
            </tr>
            {% if course.image %}
            <tr>
              <td>Image</td>
              <td>:</td>
              <td>
                <img src="{{course.image.url}}" alt="" width="auto" height="100">
                <br><a href="{{course.image.url}}">{{course.image.url}}</a>
              </td>
            </tr>
            {% endif %}
            <tr>
              <td>Keterangan Detail</td>
              <td>:</td>
              <td>{{course.keterangan_detail|safe}}</td>
            </tr>
          </table>
        </div>
      </div>
      <hr>
      <div class="panel-body">
        <h4 class="text-center">Statistik Omset Per Course {{course.course_code}}</h4>
        <div id="chart1"></div>
        <!-- <canvas id="chart2"></canvas> -->
      </div>
      <div class="panel-body">
        <a type="button" class="btn btn-danger" href="{% url 'course_list' %}"><i class="fa fa-reply"></i> Back</a>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
  var xLabel = {{ xLabel | safe}}
  var data2 = {
    labels: xLabel,
    datasets: [{
      label: 'Order Lunas',
      backgroundColor: 'rgb(0, 191, 255, 0.2)',
      borderColor: 'rgb(0, 191, 255, 1)',
      borderWidth: 1,
      data: [10, 10],
    }, {
      label: 'Order Belum Lunas',
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 1,
      data: [1,2],
    }]
  };

  var ctx2 = $("#chart2");
  var myBarChart = new Chart(ctx2, {
    type: 'bar',
    data: data2,
    options: {
      scales: {
        yAxes: [{
          // stacked: true,
          ticks: {
            beginAtZero: true
          }
        }],
        xAxes: [{
          // stacked: true,
          ticks: {
            callback: function(t) {
              var maxLabelLength = 6;
              // if (t.length > maxLabelLength) return t.substr(0, maxLabelLength) + '...';
              if (t.length > maxLabelLength) return t.substr(0, maxLabelLength);
              else return t;
            }
          }
        }]
      },
      legend: {
        display: false
      },
      tooltips: {
        callbacks: {
          title: function(t, d) {
              return d.labels[t[0].index];
          }
        }
      }
    }
  });
</script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var xLabel = {{ xLabel | safe}}
  var omsetOrder = {{ omset_order | safe}}
  var omsetSubscription = {{ omset_subscription | safe}}
  var orderMonth = {{ order_per_month | safe}}
  var subscriptionMonth = {{ subscription_per_month | safe}}
  // console.log(xLabel)
  var options = {
    series: [{
    name: 'Omset Dari Order (Harga Course actually)',
    type: 'column',
    data: omsetOrder
  }, {
    name: 'Omset Dari Subscription (Harga Course actually)',
    type: 'column',
    data: omsetSubscription
  }, {
    name: 'Akumulasi Order',
    type: 'bar',
    data: orderMonth
  }, {
    name: 'Akumulasi Subscription',
    type: 'bar',
    data: subscriptionMonth
  }],
    chart: {
    height: 350,
    type: 'line',
    stacked: false,
  },
  stroke: {
    width: [0, 2, 5, 4],
    curve: 'smooth'
  },
  plotOptions: {
    bar: {
      columnWidth: '50%'
    }
  },
  
  fill: {
    opacity: [0.85, 0.25],
    gradient: {
      inverseColors: false,
      shade: 'light',
      type: "vertical",
      opacityFrom: 0.85,
      opacityTo: 0.55,
      stops: [0, 100]
    }
  },
  markers: {
    size: 0
  },
  xaxis: {
  categories: xLabel
  },
  yaxis: {
    title: {
      text: 'Rupiah',
    },
    min: 0
  },
  };

  var chart = new ApexCharts(document.querySelector("#chart1"), options);
  chart.render();
</script>
{% endblock scripts %}
  