{% extends "dashboard/base.html" %}

{% block breadcrumb_item %}
<li><a href="{% url 'order_list'  %}">List Order</a></li>
<li>Create Order</li>
{% endblock breadcrumb_item %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      {% if user.status == "ADMIN" %}
      <!-- page untuk admin -->
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.media}}
          {{form.as_p}}
          <div class="form-group">
            <div class="checkbox">
                <label class="no-s">
                    <input type="checkbox" name="auto_subscribe"> Otomatis Subscribe
                </label>
            </div>
        </div>
          <a class="btn btn-danger" href="{{request.META.HTTP_REFERER}}"><i class="fa fa-reply m-r-xs"></i>Cancel</a>
          <button type="submit" class="btn btn-primary" name="add_another"><i class="fa fa-plus"></i> Save and add
            another</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> save</button>
        </form>
      </div>
      {% else %}
      <!-- page untuk mahasiswa -->
      <div class="panel-body">
        <h4>Halaman ini hanya dapat diakses oleh admin sistem.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}