{% extends "dashboard/base.html" %}

{% block breadcrumb_item %}
<li><a href="{% url 'course_list' %}">List Course</a></li>
<li>List Topic</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <div class="col-md-6">
        {% if user.status == "ADMIN" or user.status == "MANAGER" %}
          <a href="{% url 'topic_create' slug %}" class="btn btn-primary">Tambah Topic</a>
        {% endif %}
        </div>
        <div class="col-md-4">
          <form action="#" method="GET">
            <div class="input-group">
              <input type="text" name="q" class="form-control input-search" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-2">
          <a href="{% url 'topic_list' slug %}" class="btn btn-danger btn-rounded">Reset Pencarian</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th style="width: 10%;">Urutan Display</th>
              <th>Course</th>
              <th>Judul Topic</th>
              <th style="width: 15%;">Action</th>
              <th style="width: 15%;">Assignment</th>
            </thead>
            <tbody>
              {% for list in topic_list %}
              <tr>
                <td>{{list.urutan_display}}</td>
                <td>{{list.course.judul}}</td>
                <td>{{list.judul}}</td>
                <td>
                  <a class='btn btn-success btn-sm' title='Detail' href="{% url 'topic_detail' list.id %}">
                    <i class="fa fa-eye"></i>
                  </a>
                  {% if user.status == "ADMIN" or user.status == "MANAGER" %}
                  <a class='btn btn-primary btn-sm' title='Edit' href="{% url 'topic_update' list.id %}">
                    <i class="fa fa-edit"></i>
                  </a>
                    <a class="btn btn-danger btn-sm" title="Delete" href="{% url 'topic_delete' list.id %}">
                      <i class="fa fa-trash"></i>
                    </a>
                    {% endif %}
                </td>
                {% if user.status == "ADMIN" or user.status == "MANAGER" %}
                <td>
                  <a href="{% url 'assignment_create' list.id %}" title="Add" class="btn btn-success btn-sm btn-rounded">
                    <i class="fa fa-plus"></i>
                  </a>
                  <a href="{% url 'assignment_list' list.id %}" title="List" class="btn btn-info btn-sm btn-rounded">
                    <i class="fa fa-list"></i>
                  </a>
                </td>
                {% endif %}
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" align="center" style="color: red;">No data</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
          {% include 'snippets/_pagination.html' %}
          {% endif %}
          <a type="button" class="btn btn-danger" href="{% url 'course_list' %}"><i class="fa fa-reply"></i> Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
