{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li>Detail Assigment</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Judul Course</td>
              <td>:</td>
              <td>{{assignment.topic.course.judul}}</td>
            </tr>
            <tr>
              <td>Judul Topic</td>
              <td>:</td>
              <td>{{assignment.topic.judul}}</td>
            </tr>
            <tr>
              <td>Judul assignment</td>
              <td>:</td>
              <td>{{assignment.judul}}</td>
            </tr>
            <tr>
              <td>Type Assignment</td>
              <td>:</td>
              <td>{{assignment.type_assignment}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-heading">
        <h4 class="panel-title">Penjelasan</h4>
      </div>
      <div class="panel-body">
        {{assignment.penjelasan|safe}}
        <br><br>
        <a type="button" class="btn btn-danger" href="{% url 'assignment_list' assignment.topic.pk %}">
          <i class="fa fa-reply"></i> Back</a> &nbsp; &nbsp;&nbsp
          {% comment %}
            <!-- <a href="{% url 'speaking_create' assignment.topic.course.course_code assignment.topic.urutan_display assignment.id %}" class="btn btn-primary">Submit Assignment</a> -->
          {% endcomment %}
          <a href="{% url 'speaking_create' pk=assignment.topic.course.course_code urut=assignment.topic.urutan_display id=assignment.id pk_assignment=assignment.pk %}" class="btn btn-primary">Submit Assignment</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
