{% extends "frontend_full_learnup/base.html" %}
{% load static %}

{% block content %}
<!-- ============================ User Dashboard ================================== -->
<section class="error-wrap">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-6 col-md-10">
        <div class="text-center">
          
          <img src="{% static 'frontend-full-learnup/assets/img/404.png' %}" class="img-fluid" alt="">
          <br>
          <!-- <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p> -->
          <a class="btn btn-theme" href="{% url 'homepage' %}">Back To Home</a>
          
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
{% endblock content %}