{% extends "dashboard/base.html" %}

{% block breadcrumb_item %}
<li><a href="{% url 'kelas_list' %}">List Kelas</a></li>
<li>Create Kelas</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.media}}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}