{% extends "dashboard/base.html" %}
{% block breadcrumb_item %}
<li><a href="{% url 'course_list' %}">List Course</a></li>
<li> <a href="{% url 'speaking_clinic_question_list' speakingclinicquestion.course.pk  %}">List Speaking Question</a></li>
<li>Detail Speaking Question</li>
{% endblock breadcrumb_item %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Detail</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td>Course</td>
              <td>:</td>
              <td>{{speakingclinicquestion.course.judul}}</td>
            </tr>
            <tr>
              <td>Urutan Display</td>
              <td>:</td>
              <td>{{speakingclinicquestion.urutan_display}}</td>
            </tr>
            <tr>
              <td>Instruction</td>
              <td>:</td>
              <td>{{speakingclinicquestion.instruction}}</td>
            </tr>
            <tr>
              <td>Question</td>
              <td>:</td>
              <td>{{speakingclinicquestion.text_question|linebreaks}}</td>
            </tr>
            {% if speakingclinicquestion.image %}
              <tr>
                <td>Image</td>
                <td>:</td>
                <td><img src="{{speakingclinicquestion.image.url}}" alt="" height="30%"></td>
              </tr>
            {% endif %}
            {% if speakingclinicquestion.question_audio %}
              <tr>
                <td>Question Audio</td>
                <td>:</td>
                <td>
                  <audio controls autoplay>
                    <source src="{{speakingclinicquestion.question_audio.url}}">
                  Your browser does not support the audio element.
                  </audio>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td>Language</td>
              <td>:</td>
              <td>{{speakingclinicquestion.language}}</td>
            </tr>
            <tr>
              <td>Max Repeat Record</td>
              <td>:</td>
              <td>{{speakingclinicquestion.max_repeat}}</td>
            </tr>
            <tr>
              <td>Max Duration Record</td>
              <td>:</td>
              <td>{{speakingclinicquestion.answer_duration}} second</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <a type="button" class="btn btn-danger" href="{% url 'speaking_clinic_question_list' speakingclinicquestion.course.pk %}">
          <i class="fa fa-reply"></i> Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}